.root {
    padding: 1.5rem 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 2;
}

.options {
    flex-grow: 1;
    padding-right: 1rem;
}

.chartOption {
    margin-right: 1rem;
}
