.root {
    position: absolute;
    background: white;
    width: 30rem;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    top: 0px;
    right: 0px;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}
.label {
    padding: 1rem 0px;
    margin: 0px 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
}

.content {
    flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
    padding: 2rem 1rem 1rem 1rem;
}

.formGroup {
    margin-bottom: 1rem;
    &:last-of-type {
        margin-bottom: 0px;
    }
}

.doneBtn {
    position: absolute;
    top: 0.6rem;
    right: 1rem;
}
