.root {
    position: absolute;
    background: white;
    width: 30rem;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    top: 0px;
    right: 0px;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}
.content {
    flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
    padding: 1rem 1rem;
    padding-bottom: 4rem;
}
.doneBtn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
