.root {
    display: block;
    position: relative;
    width: calc(100% - 10px);
    height: 30rem;
    margin: auto;
    overflow: hidden;
    text-align: left;
    margin-bottom: 1.4rem;
    user-select: none;
}

.chart {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.loadingWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(white, 0.85);
    z-index: 2;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // color: $color-dark;
    // font-weight: 500;
    // font-size: 1.8rem;
    text-transform: capitalize;
}

:global(.highcharts-tooltip) {
    :global(.tooltip-table) {
        display: block;
        width: 54.8rem;
        padding: 0.7rem 0.5rem 0px 0.5rem;
        :global(.tooltip-title) {
            display: block;
            color: lighten(black, 40%);
            font-weight: 500;
            margin-bottom: 0.3rem;
        }
        :global(.tooltip-table-row) {
            display: inline-block;
            margin-right: 1rem;
        }
        :global(.tooltip-key) {
            display: inline-block;
            font-weight: 400;
            color: lighten(black, 40%);
            text-transform: capitalize;
            margin-right: 0.7rem;
        }
        :global(.tooltip-value) {
            display: inline-block;
            font-weight: 500;
            letter-spacing: 0.25px;
        }
    }
}
:global(.highcharts-reset-zoom) {
    text-align: center;
    :global(.highcharts-button-box) {
        fill: white;
        stroke: none;
    }
    text {
        color: #00bcd4 !important;
        fill: #00bcd4 !important;
    }
}

// .chart-wrapper {
//     width: 100%;
//     height: 100%;
//     // flex-grow: 1;
//     display: block;
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     z-index: 1;
//     .plot-container {
//         z-index: 0;
//         min-width: 100%;
//         min-height: 100%;
//         overflow: hidden;
//     }

//     .highcharts-tooltip {
//         .tooltip-table {
//             display: block;
//             width: 54.8rem;
//             padding: 0.7rem 0.5rem 0px 0.5rem;
//             .tooltip-title {
//                 display: block;
//                 color: lighten($color-dark, 10%);
//                 font-weight: 500;
//                 margin-bottom: 0.3rem;
//             }
//             .tooltip-table-row {
//                 display: inline-block;
//                 margin-right: 1rem;
//             }
//             .tooltip-key {
//                 display: inline-block;
//                 font-weight: 400;
//                 color: lighten($color-dark, 10%);
//                 text-transform: capitalize;
//                 margin-right: 0.7rem;
//             }
//             .tooltip-value {
//                 display: inline-block;
//                 font-weight: 500;
//                 letter-spacing: 0.25px;
//             }
//         }
//     }

//     .highcharts-reset-zoom {
//         // display: none;
//         text-align: center;
//         @include medium-shadow();
//         .highcharts-button-box {
//             fill: $color-white;
//             // stroke: darken($color-light, 5%);
//             stroke: none;
//         }
//         text {
//             color: $color-primary !important;
//             fill: $color-primary !important;
//         }
//     }
// }
// .chart-buttons {
//     position: absolute;
//     z-index: 2;
//     top: 0.2rem;
//     right: 0.7rem;
//     [data-react-toolbox="font-icon"] {
//         color: $color-medium-dark;
//     }
// }
// .chart-settings {
//     position: absolute;
//     background: $color-white;
//     width: 30rem;
//     height: 100%;
//     overflow: hidden;
//     overflow-y: auto;
//     top: 0px;
//     right: 0px;
//     z-index: 1;
//     transform: translateX(30rem);
//     transition-property: -webkit-transform, transform;
//     transition-duration: 0.2s;
//     transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
//     display: flex;
//     flex-flow: column nowrap;
//     overflow: hidden;
//     .settings-title {
//         height: 4.5rem;
//         min-height: 4.5rem;
//         max-height: 4.5rem;
//         flex-basis: 4.5rem;
//         font-size: 1.6rem;
//         line-height: 2rem;
//         font-weight: 500;
//         padding: 1rem 1rem;
//         text-transform: uppercase;
//         color: $color-medium-dark;
//     }
//     .settings-content {
//         flex-grow: 1;
//         overflow: hidden;
//         overflow-y: auto;
//         padding: 1rem 1rem;
//         .dropdown-container {
//             margin-bottom: 2rem;
//             .dropdown-values {
//                 max-height: 21.6rem;
//                 overflow: hidden;
//                 overflow-y: auto;
//             }
//             &.dropdown-values-up {
//                 .dropdown-values {
//                     top: 0px;
//                     bottom: auto;
//                 }
//             }
//         }
//     }
//     &.open {
//         transform: translateX(0px);
//         @include medium-shadow();
//     }
// }
// .chart-loading-wrapper {
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     width: 100%;
//     height: 100%;
//     background: rgba($color-white, 0.85);
//     z-index: 2;
//     .loading-chart-text {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         color: $color-dark;
//         font-weight: 500;
//         font-size: 1.8rem;
//         text-transform: capitalize;
//     }
// }
