.root {
    padding: 1.5rem 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 2;
    background: darken(white, 3%);
}

.options {
    flex-grow: 1;
    padding-right: 1rem;
}

.chartOption {
    margin-right: 1rem;
    &:last-of-type {
        margin-right: 0px;
    }
}

.nonShared {
    padding-top: 0.5rem;
}
