.root {
    display: inline-block;
    position: relative;
}

.button {
    padding: 0px 0.5rem;
    display: block;
    width: 100%;
    position: relative;
}

.content {
    padding: 1rem;
    max-height: 30rem;
    overflow: hidden;
    overflow-y: auto;
}
