.root {
    position: absolute;
    top: 7.9rem;
    left: 0.7rem;
    width: 27.5rem;
    max-height: calc(100% - 35rem);
    // background: #3f3f3f;
    background: white;
    display: flex;
    overflow: hidden;
    flex-flow: column nowrap;
    color: rgba(0, 0, 0, 0.87);
}

.label {
    height: 3.4rem;
    padding: 0.5rem 1rem;
    background: darken(white, 3%);
    border-bottom: 1px solid darken(white, 10%);
}

.listWrapper {
    padding: 0.5rem 1rem;
    flex: 1 1;
    overflow: hidden;
    overflow-y: scroll;
}

.empty {
    line-height: 2rem;
}
