.root {
    position: absolute;
    top: 0.7rem;
    left: 0.7rem;
    width: 21rem;
    max-height: calc(100% - 12rem);
    background: #3f3f3f;
    padding: 0.5rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    color: white;
}

.listWrapper {
    border-top: 1px solid lighten(#3f3f3f, 20%);
    padding: 0.5rem 0px;
}

.empty {
    line-height: 2rem;
}
