.root {
    position: absolute;
    bottom: 0.7rem;
    left: 0.7rem;
    width: 16.5rem;
    max-height: calc(100% - 12rem);
    background: #3f3f3f;
    padding: 0.3rem 0.7rem;
    border-radius: 2px;
    display: flex;
    flex-flow: column nowrap;
    color: white;
}
