.root {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 0.5rem;
    width: 100%;
    overflow: hidden;
    &:last-of-type {
        margin-bottom: 0px;
    }
}

.leftItem {
    width: 1.2rem;
    height: 1.2rem;
}
.centerItem {
    flex: 1 1;
    overflow: hidden;
    margin: 0px 0.5rem;
}
.rightItem {
    width: 5.5rem;
    height: 1.8rem;
    color: rgba(0, 0, 0, 0.54);
}

.color {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
}

.label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actionBtn {
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.6rem;
    font-size: 1.6rem;
    &[disabled] {
        color: darken(white, 50%);
    }
}

.loader {
    width: 1.2rem;
    height: 1.2rem;
}
