.root {
    vertical-align: middle;
    button {
        width: 1.8rem;
        height: 1.8rem;
        line-height: 1.6rem;
        font-size: 1.6rem;
        &[disabled] {
            color: darken(white, 50%);
        }
    }
}

.content {
    padding: 0px;
}

.toolItem {
    min-width: 50px;
    text-align: left;
    justify-content: left;
}

.listItemIcon {
    margin-right: 0px;
    i {
        font-size: 2rem;
        padding-left: 1px;
        padding-top: 0px;
    }
}
