.root {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 0.5rem;
    &:last-of-type {
        margin-bottom: 0px;
    }
}

.color {
    display: inline-block;
    margin-right: 0.5rem;
}

.label {
    display: inline-block;
    flex-grow: 1;
    white-space: normal;
}

.actionBtn {
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.6rem;
    font-size: 1.6rem;
    &[disabled] {
        color: darken(white, 50%);
    }
}

.loader {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
}
