.root {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
}
.form {
    display: block;
}
.list {
    flex: 1 1;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    overflow-y: scroll;
}
