.root {
    padding: 1.5rem 1rem;
    position: relative;
    width: 100%;
    z-index: 2;
    background: darken(white, 3%);
}

.topField {
    width: calc(50% - 2rem);
    margin: 0px 1rem;
}

.facetRow {
    margin-top: 0.7rem;
}
