.dummyList {
    list-style-type: none;
    padding: 0px;
}

.content {
    padding: 0px;
}

.subheader {
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    text-transform: uppercase;
    line-height: 3.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.form {
    padding-left: 1rem;
}
