// .root {
//     display: flex;
//     flex-flow: row nowrap;
// }

.datePickerSelection {
    position: relative;
    text-align: center;
    padding: 0.25rem 0.5rem;
}

.inputs {
    // flex: 1 1;
    padding: 0.5rem 0px;
}

// .btns {
//     width: 8rem;
//     padding: 0.2rem 0px;
//     display: inline-block;
// }
